html { background: #fff; }
body { cursor: default; }
strong, b { font-weight: 700; }
em, i { font-style: italic; }
input, textarea { cursor: text; }
a, label, select, button, input[type=button], input[type=submit], input[type=checkbox], input[type=radio], input[type=file] { cursor: pointer; }

.hide, .hidden { display: none; }

.fleft { float: left; }
.fright { float: right; }
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.clear { clear: both; width: 100%; height: 1px; overflow: hidden; }
.clearfix:after, .clearfix:before { content: " "; display: table; }
.clearfix:after { clear: both; }