.grid-container {
  max-width: $grid-width;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  &:before, &:after {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    clear: both;
  }
}
%grid-settings {
  margin-left: $gutter-width;
  margin-right: $gutter-width;
  float: left;
  @include box-sizing(border-box);
}

@for $i from 1 through $columns-count {
  $num: $i;
  .grid-#{$num} {
    @extend %grid-settings;
  }
}

// Getting number of columns and setting it's width
@if $columns-count == 12 {
  $column-width: 6;
} @else {
  $column-width: 4;
}

@for $i from 1 through $columns-count {
  $num: $i;
  .grid-#{$num} {
    width: ( $num * $gutter-width * $column-width ) + ( ($num - 1) * 2 * $gutter-width ); // (column number * gutter width * (column width in px + current step - 1) * 2 * gutter width);
  }
}

@for $i from 1 through $columns-count {
  $num: $i;
  .prefix-#{$num} {
    margin-left: ( $num * $gutter-width * $column-width ) + ( ($num - 1) * 2 * $gutter-width ); // (column number * gutter width * (column width in px + current step - 1) * 2 * gutter width);
  }
}

@for $i from 1 through $columns-count {
  $num: $i;
  .suffix-#{$num} {
    margin-right: ( $num * $gutter-width * $column-width ) + ( ($num - 1) * 2 * $gutter-width ); // (column number * gutter width * (column width in px + current step - 1) * 2 * gutter width);
  }
}

%position-relative {
  position: relative;
}

@for $i from 1 through $columns-count {
  $num: $i;
  .push-#{$num}, .pull-#{$num} {
    @extend %position-relative;
  }
}

@for $i from 1 through $columns-count {
  $num: $i;
  .push-#{$num} {
    left: ( $num * $gutter-width * $column-width ) + ( ($num - 1) * 2 * $gutter-width ); // (column number * gutter width * (column width in px + current step - 1) * 2 * gutter width);
  }
}

@for $i from 1 through $columns-count {
  $num: $i;
  .pull-#{$num} {
    left: -( $num * $gutter-width * $column-width ) + ( ($num - 1) * 2 * $gutter-width ); // (column number * gutter width * (column width in px + current step - 1) * 2 * gutter width);
  }
}