@media screen {
  // All views
}


@media screen and (min-width: $media-desktop-min) {
  // Desktop view only
  .hide-on-desktop {
    display: none !important;
  }
  .only-desktop {
    display: block !important;
  }
}

@media screen and (max-width: $media-mobile-max) {
  // Tablet view only
  .grid-container {
    max-width: 100%;
    padding-left: $gutter-width;
    padding-right: $gutter-width;
  }
  .hide-on-mobile {
    display: none !important;
  }
  .only-mobile {
    display: block !important;
  }
}

@media screen and (min-width: $media-tablet-min) and (max-width: $media-tablet-max) {
  // Mobile view only
  .grid-container {
    max-width: 100%;
    padding-left: $gutter-width;
    padding-right: $gutter-width;
  }
  .hide-on-tablet {
    display: none !important;
  }
  .only-tablet {
    display: block !important;
  }
}