// Paths
$asset-pipeline: false; // if don't use it or don't know what is it about, leave it as is
$fonts-path: '/assets/fonts/'; // with trailing slash, please. Otherwise the fonts won't load

// Responsive vars
$media-mobile-max: 767px !default;
$media-tablet-min: 768px !default;
$media-tablet-max: 1024px !default;
$media-desktop-min: 1025px !default;

// Grid width
$grid-width: 960px !default;
$columns-count: 12 !default; // 12 or 16 columns
$gutter-width: 1.04166666666% !default;
$column-width: 6 !default; // Column width