// Responsive vars
$media-mobile-max: 767px !default;
$media-tablet-min: 768px !default;
$media-tablet-max: 1024px !default;
$media-desktop-min: 1025px !default;

// Grid width
$grid-width: 960px !default;
$column-width: 1.04166666666% !default;