article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
}

a {
  background: transparent;
}

a, input, textarea {
  outline: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  margin: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

em, i {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -moz-box-sizing: content-box;
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

body {
  cursor: default;
}

input, textarea {
  cursor: text;
}

a, label, select, button, input[type=button], input[type=submit], input[type=checkbox], input[type=radio], input[type=file] {
  cursor: pointer;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0;
  padding: 0;
}

.hide, .hidden {
  display: none;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.clear {
  clear: both;
  width: 100%;
  height: 1px;
  overflow: hidden;
}

.clearfix:after, .clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.grid-container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}
.grid-container:before, .grid-container:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  clear: both;
}

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
  margin-left: 1.04167%;
  margin-right: 1.04167%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.push-1, .pull-1, .push-2, .pull-2, .push-3, .pull-3, .push-4, .pull-4, .push-5, .pull-5, .push-6, .pull-6, .push-7, .pull-7, .push-8, .pull-8, .push-9, .pull-9, .push-10, .pull-10, .push-11, .pull-11, .push-12, .pull-12 {
  position: relative;
}

.grid-1 {
  width: 6.25%;
}

.prefix-1 {
  margin-left: 6.25%;
}

.suffix-1 {
  margin-right: 6.25%;
}

.push-1 {
  left: 6.25%;
}

.pull-1 {
  left: -6.25%;
}

.grid-2 {
  width: 14.58333%;
}

.prefix-2 {
  margin-left: 14.58333%;
}

.suffix-2 {
  margin-right: 14.58333%;
}

.push-2 {
  left: 14.58333%;
}

.pull-2 {
  left: -14.58333%;
}

.grid-3 {
  width: 22.91667%;
}

.prefix-3 {
  margin-left: 22.91667%;
}

.suffix-3 {
  margin-right: 22.91667%;
}

.push-3 {
  left: 22.91667%;
}

.pull-3 {
  left: -22.91667%;
}

.grid-4 {
  width: 31.25%;
}

.prefix-4 {
  margin-left: 31.25%;
}

.suffix-4 {
  margin-right: 31.25%;
}

.push-4 {
  left: 31.25%;
}

.pull-4 {
  left: -31.25%;
}

.grid-5 {
  width: 39.58333%;
}

.prefix-5 {
  margin-left: 39.58333%;
}

.suffix-5 {
  margin-right: 39.58333%;
}

.push-5 {
  left: 39.58333%;
}

.pull-5 {
  left: -39.58333%;
}

.grid-6 {
  width: 47.91667%;
}

.prefix-6 {
  margin-left: 47.91667%;
}

.suffix-6 {
  margin-right: 47.91667%;
}

.push-6 {
  left: 47.91667%;
}

.pull-6 {
  left: -47.91667%;
}

.grid-7 {
  width: 56.25%;
}

.prefix-7 {
  margin-left: 56.25%;
}

.suffix-7 {
  margin-right: 56.25%;
}

.push-7 {
  left: 56.25%;
}

.pull-7 {
  left: -56.25%;
}

.grid-8 {
  width: 64.58333%;
}

.prefix-8 {
  margin-left: 64.58333%;
}

.suffix-8 {
  margin-right: 64.58333%;
}

.push-8 {
  left: 64.58333%;
}

.pull-8 {
  left: -64.58333%;
}

.grid-9 {
  width: 72.91667%;
}

.prefix-9 {
  margin-left: 72.91667%;
}

.suffix-9 {
  margin-right: 72.91667%;
}

.push-9 {
  left: 72.91667%;
}

.pull-9 {
  left: -72.91667%;
}

.grid-10 {
  width: 81.25%;
}

.prefix-10 {
  margin-left: 81.25%;
}

.suffix-10 {
  margin-right: 81.25%;
}

.push-10 {
  left: 81.25%;
}

.pull-10 {
  left: -81.25%;
}

.grid-11 {
  width: 89.58333%;
}

.prefix-11 {
  margin-left: 89.58333%;
}

.suffix-11 {
  margin-right: 89.58333%;
}

.push-11 {
  left: 89.58333%;
}

.pull-11 {
  left: -89.58333%;
}

.grid-12 {
  width: 97.91667%;
}

.prefix-12 {
  margin-left: 97.91667%;
}

.suffix-12 {
  margin-right: 97.91667%;
}

.push-12 {
  left: 97.91667%;
}

.pull-12 {
  left: -97.91667%;
}

/* DESKTOP SUPPORT */
@media screen and (min-width: 1025px) {
  .hide-on-desktop {
    display: none !important;
  }

  .only-desktop {
    display: block !important;
  }
}
/* TABLET SUPPORT */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid-container {
    max-width: 100%;
    padding-left: 1.04167%;
    padding-right: 1.04167%;
  }

  .hide-on-tablet, .only-desktop, .only-mobile {
    display: none !important;
  }

  .only-tablet {
    display: block !important;
  }

  .grid-tablet-1 {
    width: 6.25%;
  }

  .grid-tablet-2 {
    width: 14.58333%;
  }

  .grid-tablet-3 {
    width: 22.91667%;
  }

  .grid-tablet-4 {
    width: 31.25%;
  }

  .grid-tablet-5 {
    width: 39.58333%;
  }

  .grid-tablet-6 {
    width: 47.91667%;
  }

  .grid-tablet-7 {
    width: 56.25%;
  }

  .grid-tablet-8 {
    width: 64.58333%;
  }

  .grid-tablet-9 {
    width: 72.91667%;
  }

  .grid-tablet-10 {
    width: 81.25%;
  }

  .grid-tablet-11 {
    width: 89.58333%;
  }

  .grid-tablet-12 {
    width: 97.91667%;
  }
}
/* MOBILE SUPPORT */
@media screen and (max-width: 767px) {
  .grid-container {
    max-width: 100%;
    padding-left: 1.04167%;
    padding-right: 1.04167%;
  }

  .hide-on-mobile, .only-desktop, .only-tablet {
    display: none !important;
  }

  .only-mobile {
    display: block !important;
  }

  .grid-mobile-1 {
    width: 6.25%;
  }

  .grid-mobile-2 {
    width: 14.58333%;
  }

  .grid-mobile-3 {
    width: 22.91667%;
  }

  .grid-mobile-4 {
    width: 31.25%;
  }

  .grid-mobile-5 {
    width: 39.58333%;
  }

  .grid-mobile-6 {
    width: 47.91667%;
  }

  .grid-mobile-7 {
    width: 56.25%;
  }

  .grid-mobile-8 {
    width: 64.58333%;
  }

  .grid-mobile-9 {
    width: 72.91667%;
  }

  .grid-mobile-10 {
    width: 81.25%;
  }

  .grid-mobile-11 {
    width: 89.58333%;
  }

  .grid-mobile-12 {
    width: 97.91667%;
  }
}
