doctype html

html
  head
    title DroidCSS: Select 12 or 16 columns layout
    link href="css/grid-12.css" rel="stylesheet"

    link href="css/demo.css" rel="stylesheet"
  body
    #wrap
      header.text-center Select 12 or 16 columns layout
      .grid-container
        .grid-5.text-center.grid-box
          a href="grid-12.html" 12 columns
        .grid-5.prefix-2.text-center.grid-box
          a href="grid-16.html" 16 columns
      #push

    footer.text-center
      ' DroidCSS is made with love by  
      a href="http://droidlabs.pro" target="_blank" Droid Labs