doctype html
html
  head
    title DroidCSS Grid Demo
    link href="../style.css" rel="stylesheet"
    link href="demo.css" rel="stylesheet"
  body
    .grid-container
      .grid-16 .grid-16
    .grid-container
      .grid-15 .grid-15
      .grid-1 .grid-1
    .grid-container
      .grid-14 .grid-14
      .grid-2 .grid-2
    .grid-container
      .grid-13 .grid-13
      .grid-3 .grid-3
    .grid-container
      .grid-12 .grid-12
      .grid-4 .grid-4
    .grid-container
      .grid-11 .grid-11
      .grid-5 .grid-5
    .grid-container
      .grid-10 .grid-10
      .grid-6 .grid-6
    .grid-container
      .grid-9 .grid-9
      .grid-7 .grid-7
    .grid-container
      .grid-8 .grid-8
      .grid-8 .grid-8
    .grid-container
      .grid-7 .grid-7
      .grid-5 .grid-5
    .grid-container
      .grid-6 .grid-6
      .grid-6 .grid-6